{% extends "shop_app/base_generic.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'shop_app/listing_detail.css' %}">
</head>

  <div class="listing-container">
    <!-- Listing Header -->
    <h1>Listing #{{ listing.listingid }}: {{ listing.listingname }}</h1>

    <!-- Listing Details -->
    <div class="listing-details">
      <p><strong>Vendor ID:</strong> {{ vendor.vendorid.cadet.cadetid }}</p>
      <p><strong>Vendor Name:</strong> {{ vendor.vendorid.cadet.firstname }} {{vendor.vendorid.cadet.lastname}}</p>
      <p><strong>Vendor Contact Info:</strong> {{ vendor.vendorid.cadet.email }} | {{vendor.vendorid.cadet.company}} | RM: {{vendor.vendorid.cadet.roomnumber}}</p>
      <p><strong>Price:</strong> ${{ listing.price }}</p>
      <p><strong>Quantity Available:</strong> {{ listing.quantity }}</p>
      <p><strong>Listing Date:</strong> {{ listing.listingdate|date:"F d, Y" }}</p>
    </div>

    <!-- Back to Listings Button -->
    <div class="back-btn-container">
      <a href="/customer_landing" class="back-btn">← Back to Listings</a>
    </div>
  </div>
{% endblock %}
